<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reconocimiento de voz.</title>
</head>
<body>
    <h2>Práctica de Reconocimiento de voz (Interfaces Inteligentes)</h2>
    <section>
        <textarea readonly id="areaResult" style="width: 300px; height: 150px; resize:none">Digale la página que desea abrir</textarea>
        <div id="mic"><button type="button" id="button1" onclick="runFunction()" >Start</button></div>
    </section>
    <script>
        var escuchando = false;
        function runFunction(){
            var button = document.getElementById("button1");
            if(escuchando == false){
                button.innerText = "Stop";    
            }else{
                button.innerText = "Start";
            }
            
        }
        window.onload = function () {
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.lang = "es";

            mic.addEventListener('click', function () {

                areaResult.focus();
                

                if(escuchando==false){
                    recognition.start();
                    escuchando=true;
                }else{
                    escuchando = false;
                    recognition.stop();
                }

            });

            //events

            recognition.onaudiostart = function (event) {
                console.log("onaudiostart");
            };

            recognition.onsoundstart = function (event) {
                console.log("onsoundstart");
            };

            recognition.onspeechstart = function (event) {
                console.log("onspeechstart");
            };

            recognition.onspeechend = function (event) {
                console.log("onspeechend");
            };

            recognition.onsoundend = function (event) {
                console.log("onsoundend");

            };

            recognition.onaudioend = function (event) {
                console.log("onaudioend");

            };

            recognition.onresult = function (event) {
                console.log("onresult");
                var interimResult = '',
                    finalResult = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        finalResult = event.results[i][0].transcript;
                    } else {
                        interimResult += event.results[i][0].transcript;
                    }
                }
               

                areaResult.value = finalResult;
                areaResult.value = interimResult;

                if(finalResult == "abre Google"){
                    window.open("http://www.google.es");

                } else if(finalResult == "abre YouTube"){
                    window.open("http://www.youtube.es");
                }
                else if(finalResult == "abre Facebook"){
                    window.open("http://www.Facebook.es");
                }
                else if(finalResult == "abre YouTube"){
                    window.open("http://www.youtube.es");
                }
                else if(finalResult == "abre Twitter"){
                    window.open("http://www.twitter.com");
                }
                else if(finalResult == "abre Wikipedia"){
                    window.open("http://www.es.wikipedia.org");
                }


                
                if (interimResult.indexOf('terminar') != -1)
                    recognition.stop();
            };

            recognition.onnomatch = function (event) {
                console.log("onnomatch");
            };

            recognition.onerror = function (event) {
                console.log("onerror: " + event);

            };

            recognition.onstart = function (event) {
                console.log("onstart");
            };

            recognition.onend = function (event) {
                console.log("onend");
            };

        };
    </script>
</body>
</html>